*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#btn{
color: white;
font-size: 20px;
background-color: #f08010;
padding: 12px 45px;
border: 2px solid white;
border-radius: 30px;
margin-top: 20px;
font-weight: 500px;
transition: all 0.5s;
}
#btn:hover{
background-color: white;
color: #f08010;
border: 2px solid #f08010;
transform: scale(1.1);
}
.fixed{
right: 0;
position: fixed;
bottom: 30px;
}
/* 

HEADER SECTION START */
header{
  color: aqua;
  padding: 0px 110px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  
}
header h2{
  display: inline;
  color: #0292e1;
  font-size: 36px;
  font-family:  sans-serif;
  font-weight: 700;
}
/* HEADER SECTION END*/
/* Banner section start */
#banner{
  background: linear-gradient( to right ,#091e68,#1b50c3);
  height: 400px;
  width:100%;
  padding: 0px 110px;
}
#banner .content{
  float: left;
  width: 70%;
}
#banner .content h1{
  font-size: 46px;
  color: white;
  font-weight: 600;
  line-height: 70px;
}
#banner .img{
  float: right;
  width: 30%;
  height: 400px;
}
/* Banner section end */
/* company section start */
#company{
  padding: 60px 110px;
  text-align: center;
}
#company h2{
  font-weight: lighter;
  font-size: 30px;
}
#company #border{
  height: 5px;
  background:linear-gradient(to right ,#f08010,#71f009,#f08010);
  margin: 10px auto;
  width: 45%;
}
#company .many{
  padding: 30px 30px 70px 30px ;
  box-shadow: 0px 0px 20px 10px rgb(224,224,224);
  margin: 50px 0px 0px 0px;
  width: 100%;
}
#company .many .row{
  display: flex;
  flex-wrap: wrap;
}
#company .many .box{
  padding: 10px 40px;
  transition: all 0.5s;
  margin: 5px;
  width: 18%;
}
#company .many .box img{
  width: 100%;
}
#company .many .box:hover{
  box-shadow: 0px 0px 5px 6px grey;
  border-radius:20px 0px ;
  transform: scale(1.0);
}
/* company section end */
/* footer section start */
footer{
  background-color: #041349;
  color: white;
  font-size: 25px;
  height: 60px;
  line-height: 60px;
}
footer h2{
  font-weight: 700;
  text-transform: capitalize;
}
/* footer section end */

/* max-width 992px start */
@media screen and (max-width:992px) {
  #banner{
    
    padding: 0px 70px;
  }
 #banner .content{
  width:60%;
 }
  #banner .content h1{
    font-size: 36px;
    line-height: 60px;
  }
  #banner .img{
  
    width: 40%;
  
  }
  #banner .img img {
    width: 100%;
  }
  /* banneer */
  /* company */
   #company{
    padding: 60px 70px;
   }
   #company h2{
     font-size: 26px;
   }
   #company .many{
    padding: 20px 20px 50px 20px;
   }
   #company .many .box{
    padding: 10px 35px;
  
    width:23% ;
   }
  /* company */
  /* footer */
   footer{
    font-size: 22px;
    height: 55px;
    line-height: 55px;
   }
  /* footer */
}
/* max-width end*/

/* max-width 768px start*/
@media screen and (max-width: 768px) {
  /* header */
  header{
    padding: 0px 50px;
    line-height: 60px;
}
header h2{
  
    font-size: 30px;
}
header img{
  height: 60px;
}
/* header */
/* banner */
#banner{
    
  padding: 0px 50px;
  height: 320px;
}
#banner .content h1{
  font-size: 26px;
  line-height: 45px;
}
#banner .img{
  height: 300px; 
}

/* banner */
/* btn */
#btn{
  font-size: 17px;
  padding: 10px 35px;
}
/* btn */
  /* company */
  #company{
    padding: 60px 50px;
   }
   #company h2{
     font-size: 22px;
   }
  
   #company .many .box{
    padding: 10px 30px;
  
    width:31% ;
   }
  /* company */
    /* footer */
    footer{
      font-size: 18px;
      
      height: 40px;
      line-height: 40px;
     }
    /* footer */
  }

/* max-width 768px end*/

/* max-width 576px start*/
@media screen and  (max-width: 576px) {
     /* header */
     header{
      padding: 0px 20px;
      line-height: 50px;
  }
  header h2{
    
      font-size: 25px;
     
  }
  header img{
    height: 50px;
  }
  /* header */
  
#banner{
    
  padding: 0px 20px;
  height: auto;
}
#banner .content{
float: none;
width: 100%;

}
#banner .content h1{
  font-size: 30px;
  line-height: 40px;
}
#banner .img{
  height: 320px;
 float: none;
 width:100%;
 padding: 0px 50px;
}
  /* company */
  #company{
    padding: 50px 20px;
   }
   #company h2{
     font-size: 20px;
   }
   #company .many{
    padding: 20px 30px 50px 30px;
   }
   #company .many .box{
    padding: 7px 35px;
  
    width:47% ;
   }
  /* company */
    /* footer */
    footer{
      font-size: 15px;
      
     }
    /* footer */
}
/* max-width 576px end*/
/* max-width 430px staRT*/
 @media screen and  (max-width:430px) {
      /* header */
      header{
        padding: 0px 10px;
    }
    header h2{
      
        font-size: 10px;
       
    }
    
    /* header */

   /* company */
   #company{
    padding: 40px 10px;
   }
   #company h2{
     font-size: 18px;
   }
   #company .many{
    padding: 20px 10px 50px 10px;
   }
   #company .many .box{
    padding: 10px 25px;
  
    width:47% ;
   }
  /* company */
  
 }
/* max-width 430px end*/